@charset "utf-8"; 

/* Generel styling */
html {
    background-color: #F5F5F5;
}

body {
    display: flex;
    flex-direction: column; /* Layout i en kolonne */
    min-height: 100vh; /* Fylder hele højden af vinduet */
    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Standard skrifttype */
}

@font-face {
    font-family: 'Montserrat';
    src: url('font/webfont/montserrat-variablefont_wght-webfont.woff2') format('woff2'),
         url('font/webfont/montserrat-variablefont_wght-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Alfa Slab One';
    src: url('font/webfont/alfaslabone-regular-webfont.woff2') format('woff2'),
         url('font/webfont/alfaslabone-regular-webfont.woff2') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Header og navigation */
header {
    display: flex;
    flex-direction: row;
    background: #0000FF;
    font-family: 'Alfa Slab One';
    font-size: 25px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content:space-between; /* Placer logo og navigation i hver sin ende */
    align-items: center;
    width: 100%;
    margin: 4px;
    padding: 20px;
}

.logo {
    height: 45px; /* Logo størrelse */
}

nav ul {
    display: flex; /* Gør navigationen til en flex container */
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin: 0 10px; /* Afstand mellem links */
}

nav a {
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    color: #4981f2; /* Ændrer farve ved hover */
}

.cta-button {
    display: inline-block;
    margin-top: 0px; /* For lidt luft mellem knappen og menuen */
    padding: 5px 5px;
    background-color: #ffffff;
    color: #0000FF;
    text-decoration: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.cta-button:hover {
    background-color: #4981f2;
    color: #F5F5F5;
}

/*body*/
img {
    max-width: 100%;
    display: block;
}

/* Tekstbox styling */
.text-box {
    display: flex; 
    flex-direction: column;
    margin: 4px;
    padding-top: 15px;
}

.text-box h1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    font-family: 'Alfa Slab One';
    line-height: 1.7;
    font-size: 65px;
    margin-top: 0px; 
    margin-bottom: 0px;
    text-align: left;
    color: #0000FF;
}

.text-box h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    font-family: 'Alfa Slab One';
    line-height: 1.7;
    font-size: 100px;
    margin-top: 0px; 
    margin-bottom: 0px;
    color: #0000FF;
}

.text-box p {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    font-family: 'Montserrat';
    line-height: 1.7;
    font-size: 20px;
    margin-top: 0px; 
    margin-bottom: 0px;
    color: black;
}

/* Responsiv styling */
@media (max-width: 768px) {
    .header {
        padding: 4px 10px; /* Mindre padding på mobilen */
    }

    nav ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }

    nav li {
        margin: 4px 10px; /* Mindre afstand mellem links */
    }

    nav a {
        font-size: 16px; /* Mindre tekst på mobilen */
    }

    .logo {
        height: 30px; /* Mindre logo på mobilen */
    }

    .cta-button {
    display: inline-block;
    padding: 1px 1px;
    font-size: 14px;
    }

    .text-box h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        font-family: 'Alfa Slab One';
        line-height: 1.7;
        font-size: 45px;
        margin-top: 0px; 
        margin-bottom: 0px;
        text-align: left;
        color: #0000FF;
    }
}

/* Responsiv styling til små skærme (max-width 480px) */
@media (max-width: 480px) {
    .header {
        padding: 10px 15px; 
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        display: flex;
        flex-direction: column; /* Ændrer navigationen til en kolonne */
        align-items: center; /* Centrer linksene */
        width: 100%;
        padding: 0;
    }

    nav a {
        font-size: 15px; 
    }

    .logo {
        height: 25px; /* Mindre logo på små skærme */
    }

    .cta-button {
        font-size: 14px;
        padding: 8px 9px;
    }

    .text-box h1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
        font-family: 'Alfa Slab One';
        line-height: 1.7;
        font-size: 30px;
        margin-top: 0px; 
        margin-bottom: 0px;
        text-align: left;
        color: #0000FF;
    }
}

.footer {
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    background-color: #0000FF;
    padding: 1%;
    max-width: 100%;
}

.footer p {
    color: #F5F5F5;
    font-size: 15px;
}

.footer img {
    max-height: 25px;
}

/*styling på forside billeder*/
.containerfp {
    display: flex;
    flex-wrap: wrap; /* Tillad flere rækker */
    gap: 10px; /* Mellemrum mellem kortene */
    justify-content: center; /* Centrerer kortene */
    padding: 20px;
}

/* Kort styling */
.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* Boksen fylder hele bredden */
    background-color: #c9c8cc55;
    box-shadow: 5px 5px 5px #84838338;
    text-align:left;
    margin-bottom: 20px; /* Giver lidt afstand mellem kortene */
}

.card__image img {
    width: 62%;
    max-height: auto;
}

.card__description {
    text-align: left;
    font-family: 'Alfa Slab One';
    font-size: 26px;
    color: #0000FF; 
    width: 100%; 
    line-height: 1.7;

}

.card__button--submit {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    color: #0000FF;
    font-family: 'Alfa Slab One';
    font-size: 16px;
    border: none;
    padding: 10px 35px;
    border-radius: 40px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: auto;
    margin-right: 20px;
}


.card__button--submit:hover {
    background-color: #4981f2;
}

/* Ændrer layout på mindre skærme */
@media (max-width: 768px) {
    .card {
        flex-direction: column; /* Billede over tekst på mindre skærme */
        align-items: center;
        text-align: center;
    }

    .card__image img {
        width: 100%;
    }

    .card__description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    .card__button--submit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 0;
    }
}

/*om mig side*/
.container-right {
    display: flex;
    justify-content: flex-start;
    min-height: 100vh;
}

.container-right-text {
    flex: 1;
    margin-left: 25px;
    line-height: 2,5;
    font-family: 'Montserrat';
    color: #000000;
    font-size: 25px;
}

.container-right-pic {
    display: flex;
    flex-direction: column;
    justify-content: right;            
    width: 50%;
    height: auto;
}

.logoer {
    display: flex;
    flex-direction: column;
    align-items:center;
    flex-wrap: wrap;
    gap: 9px;
    margin-top: 10px;
    margin-bottom: 100px;
    width: 50px;
    height: 30px;
}

@media (max-width: 768px) {
    .container-right {
        flex-direction:column-reverse;
        align-items: center;
    }

    .container-right-pic {
        display: flex;
        flex-direction:column;          
        width: auto;
        height: auto;
    }

    .container-right-text {
        flex: 1;
        margin-left: 10px;
        line-height: 1.7;
    }

    .logoer {
        width: 13%;
    }
}

/*kontaktformular*/
.container-contact {
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.contact-form, .contact-info {
    flex: 1;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.contact-form {
    width: 60%;
    margin: 0 auto;
}

.contact-info {
    width: 40%; 
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input, textarea, button {
    width: 700px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Montserrat';
}

textarea {
    min-height: 100px;
}

.button-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: auto;
    background-color: #0000ff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-contact:hover {
    background-color: #5555ff;
}

.contact-info p {
    word-wrap: break-word;
    margin: 5px 0;
}

@media (max-width: 480px) {
    .container-contact {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: 0 auto;
    }

    input, textarea, button {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        padding: auto;
        margin: 0 auto;
        width: 200px;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Montserrat';
    }    
}

@media (max-width: 768px) {
    .container-contact {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 100px;
        padding: auto;
        margin: 0 auto;
        box-sizing: border-box;
    }

    input, textarea, button {
        display: flex; 
        flex-direction:column;
        justify-content: center;
        align-items: center;
        width: 400px;
        padding: auto;
        margin: 0 auto;
        margin-bottom: 20px;
        border: 1px solid #ddd;
        border-radius: 4px;
        font-size: 16px;
        font-family: 'Montserrat';
    }    
}